<% content_for :title, "Editing email template" %>

<h1>Editing email template</h1>

<%= render "form", form: @form, email_template: @email_template %>

<br>

<div>
  <%= link_to "Back to form", form_path(@form) %>
</div>
